version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: oracle_bot
    command: [ "python", "bot.py" ]
    env_file:
      - .env
    volumes:
      - ./subscribers.db:/app/subscribers.db
      - ./reports:/app/reports
    restart: "always"

  oracle-worker:
    build: .
    container_name: oracle_worker
    command: [ "python", "worker.py" ]
    env_file:
      - .env
    volumes:
      - ./subscribers.db:/app/subscribers.db
      - ./reports:/app/reports
    restart: "always"
